#!/usr/bin/env bash
osascript -e 'tell application "System Preferences" to quit'

# ---------------------------------------------------------------------------------------------------------------------
# Security settings
# ---------------------------------------------------------------------------------------------------------------------
# Enable TouchID for sudo
sed -e 's/^#auth/auth/' /etc/pam.d/sudo_local.template | sudo tee /etc/pam.d/sudo_local


# ---------------------------------------------------------------------------------------------------------------------
# Dock settings
# ---------------------------------------------------------------------------------------------------------------------
__clear_apps_from_dock() {
  defaults delete com.apple.dock persistent-apps
}
__clear_others_from_dock() {
  defaults delete com.apple.dock persistent-others
}
__clear_dock() {
  __clear_apps_from_dock
  __clear_others_from_dock
}

# adds an application to macOS Dock
# usage: __add_app_to_dock "Application Name"
# example __add_app_to_dock "/System/Applications/Music.app"
__add_app_to_dock() {
  defaults write com.apple.dock persistent-apps -array-add \
    "<dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>$1</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>"
}

# adds a folder to macOS Dock
# usage: __add_folder_to_dock "Folder Path" <Arrangement> <displayAs> <ShowAs>
# example: __add_folder_to_dock "~/Downloads" <Arrangement> <displayAs> <ShowAs>
# key:
# Arrangement
#   1 -> Name
#   2 -> Date Added
#   3 -> Date Modified
#   4 -> Date Created
#   5 -> Kind
# DisplayAs
#   0 -> Stack
#   1 -> Folder
# ShowAs
#   0 -> Automatic
#   1 -> Fan
#   2 -> Grid
#   3 -> List
__add_folder_to_dock() {
  defaults write com.apple.dock persistent-others -array-add \
    "<dict><key>tile-data</key><dict><key>arrangement</key><integer>$2</integer><key>displayas</key><integer>$3</integer><key>file-data</key><dict><key>_CFURLString</key><string>file://$1</string><key>_CFURLStringType</key><integer>15</integer></dict><key>file-type</key><integer>2</integer><key>showas</key><integer>$4</integer></dict><key>tile-type</key><string>directory-tile</string></dict>"
}

# Applications
__clear_dock

__add_app_to_dock /Applications/Safari.app
{{- if .workMachine }}
__add_app_to_dock /Applications/Brave\ Browser.app
{{- end }}
__add_app_to_dock /System/Applications/Mail.app
{{- if .workMachine }}
__add_app_to_dock /Applications/Slack.app
{{- end }}
__add_app_to_dock /Applications/Telegram.app
__add_app_to_dock /Applications/Signal.app
__add_app_to_dock /Applications/Visual\ Studio\ Code.app
__add_app_to_dock /Applications/Textmate.app
__add_app_to_dock /System/Applications/Utilities/Terminal.app
__add_app_to_dock /System/Applications/System\ Settings.app

# Folders
__add_folder_to_dock /Users/movi/Downloads/ 2 1 2

# Settings
defaults write com.apple.dock tilesize -int 53
defaults write com.apple.dock autohide -bool true
defaults write com.apple.dock enterMissionControlByTopWindowDrag -bool false
defaults write com.apple.dock expose-group-apps -bool false
defaults write com.apple.dock mru-spaces -bool false
defaults write com.apple.dock show-recents -bool false
defaults write com.apple.dock showAppExposeGestureEnabled -bool true

killall Dock

# ---------------------------------------------------------------------------------------------------------------------
# Window Manager settings
# ---------------------------------------------------------------------------------------------------------------------
defaults write com.apple.WindowManager EnableStandardClickToShowDesktop -bool false

# ---------------------------------------------------------------------------------------------------------------------
# Finder settings
# ---------------------------------------------------------------------------------------------------------------------
# When performing a search, search the current folder by default
defaults write com.apple.finder FXDefaultSearchScope -string "SCcf"
# Use list view in all Finder windows by default
defaults write com.apple.finder FXPreferredViewStyle -string "Nlsv"
defaults write com.apple.finder SearchRecentsSavedViewStyle -string "Nlsv"
# Show full POSIX path in Finder title bar
defaults write com.apple.finder _FXShowPosixPathInTitle -bool false
# Arrange by none
defaults write com.apple.finder FXPreferredGroupBy -string "None"
# Keep folders on top when sorting by name
defaults write com.apple.finder _FXSortFoldersFirst -bool true
# Show all filename extensions
defaults write com.apple.finder AppleShowAllExtensions -bool true
# Show desktop icons
defaults write com.apple.finder CreateDesktop -bool true
# Disable the warning when changing a file extension
defaults write com.apple.finder FXEnableExtensionChangeWarning -bool false
# Set HOME as the default location for new Finder windows
# For other paths, use `PfLo` and `file:///full/path/here/`
defaults write com.apple.finder NewWindowTarget -string "PfHm"
defaults write com.apple.finder NewWindowTargetPath -string "file://{{ .chezmoi.homeDir }}"
defaults write com.apple.finder ShowExternalHardDrivesOnDesktop -bool true
defaults write com.apple.finder ShowHardDrivesOnDesktop -bool false
defaults write com.apple.finder ShowMountedServersOnDesktop -bool true
# ShowPathbar in Finder windows (bottom bar)
defaults write com.apple.finder ShowPathbar -bool false
# Show removable media on desktop
defaults write com.apple.finder ShowRemovableMediaOnDesktop -bool true
# Show status bar in Finder windows (bottom bar)
defaults write com.apple.finder ShowStatusBar -bool true

# Avoid creating .DS_Store files on network or USB volumes
defaults write com.apple.desktopservices DSDontWriteNetworkStores -bool true
defaults write com.apple.desktopservices DSDontWriteUSBStores -bool true

killall Finder

# ---------------------------------------------------------------------------------------------------------------------
# Software Update settings
# ---------------------------------------------------------------------------------------------------------------------
# Automatically check for updates
sudo defaults write /Library/Preferences/com.apple.SoftwareUpdate AutomaticCheckEnabled -bool true
# Download updates automatically in the background
sudo defaults write /Library/Preferences/com.apple.SoftwareUpdate AutomaticDownload -bool true
# Install critical security updates automatically
sudo defaults write /Library/Preferences/com.apple.SoftwareUpdate CriticalUpdateInstall -bool true
# Check for software updates daily, not just once per week
sudo defaults write /Library/Preferences/com.apple.SoftwareUpdate ScheduleFrequency -int 1
# Install app updates automatically
defaults write com.apple.commerce AutoUpdate -bool true

# ---------------------------------------------------------------------------------------------------------------------
# UX
# ---------------------------------------------------------------------------------------------------------------------
# Automatically quit printer app once the print jobs complete
defaults write com.apple.print.PrintingPrefs "Quit When Finished" -bool true

# Touchpad
defaults write com.apple.AppleMultitouchMouse MouseButtonMode -string "TwoButton"
defaults write com.apple.AppleMultitouchTrackpad ActuationStrength -int 1
defaults write com.apple.AppleMultitouchTrackpad Clicking -bool false
defaults write com.apple.AppleMultitouchTrackpad Dragging -bool false
defaults write com.apple.AppleMultitouchTrackpad FirstClickThreshold -int 1
defaults write com.apple.AppleMultitouchTrackpad SecondClickThreshold -int 1
defaults write com.apple.AppleMultitouchTrackpad TrackpadRightClick -bool true
defaults write com.apple.AppleMultitouchTrackpad TrackpadThreeFingerDrag -bool false
defaults write com.apple.AppleMultitouchTrackpad TrackpadFourFingerHorizSwipeGesture -int 2
defaults write com.apple.AppleMultitouchTrackpad TrackpadFourFingerVertSwipeGesture -int 2

# Disable the “Are you sure you want to open this application?” dialog
defaults write com.apple.LaunchServices LSQuarantine -bool false

# Screenshot settings
defaults write com.apple.screencapture disable-shadow -bool true
mkdir -p $HOME/Downloads/Screenshots
defaults write com.apple.screencapture location -string "{{ .chezmoi.homeDir }}/Downloads/Screenshots"
defaults write com.apple.screencapture type -string "png"

# Displays have separate Spaces
defaults write com.apple.spaces spans-displays -bool false

# ---------------------------------------------------------------------------------------------------------------------
# Global settings
# ---------------------------------------------------------------------------------------------------------------------

defaults write -g _HIHideMenuBar -bool false
defaults write -g AppleEnableSwipeNavigateWithScrolls -bool false

defaults write -g AppleInterfaceStyle -string "Dark"
defaults write -g AppleInterfaceStyleSwitchesAutomatically -bool true
defaults write -g AppleShowAllExtensions -bool true
defaults write -g AppleShowScrollBars -string "Automatic"

defaults write -g NSAutomaticCapitalizationEnabled -bool false
defaults write -g NSAutomaticDashSubstitutionEnabled -bool false
defaults write -g NSAutomaticPeriodSubstitutionEnabled -bool false
defaults write -g NSAutomaticQuoteSubstitutionEnabled -bool false
defaults write -g NSAutomaticSpellingCorrectionEnabled -bool false
defaults write -g NSDocumentSaveNewDocumentsToCloud -bool false

defaults write -g NSTableViewDefaultSizeMode -int 2

# We are NOT a TV
sudo /usr/bin/defaults write com.apple.controlcenter.plist AirplayRecieverEnabled -bool false

/System/Library/PrivateFrameworks/SystemAdministration.framework/Resources/activateSettings -u
