#!/usr/bin/env zsh
# ---------------------------------------------------------------------------------------------------------------------
# Install krewfile and packages
# krewfile_plugins hash: {{ include "dot_config/krewfile/krewfile" | sha256sum }}
# ---------------------------------------------------------------------------------------------------------------------
source ~/.zshrc
echo ">>> Installing krewfile packages"
printenv
echo ">>>"
if test -n "$(command -v kubectl)"; then
  if test -n "$(command -v go)"; then
    go install github.com/brumhard/krewfile@latest

    kubectl krew update
    {{ .chezmoi.homeDir }}/.go/bin/krewfile -command "kubectl krew" -file {{ .paths.config }}/krewfile/krewfile -upgrade
  fi
fi
